
@import url('reset.css');
@import url('font.css');
@import url('animations.css');

body{
    font-family: 'Kintsugi', sans-serif;
}
.meow{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 150;
}